.user-details-list {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    height: auto;
    margin-left: 150px;
    text-align: left;
    height: 90vh;

    img {
        margin-bottom: 10px;
        width: 150px; 
        height: 150px; 
        border-radius: 50%; 
        margin: 20px;
    }
    
    h2 {
        color: pink;
        font-size: 2em; 
    }
}


.box {
    border-radius: 5px;
    background-color: pink;
    width: 500px;
    height: 10vh;
    margin-bottom: 10px;

    //Name
    .user-name {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .user-name-api {
        font-size: 1.3rem;
        margin-left: 20px;

    }

    .user-name,
    .user-name-api {
        color: rgb(255, 255, 255);
        width: 250px;
    }

    //Lastname
    .user-lastname {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .user-lastname-api {
        font-size: 1.3rem;
        margin-left: 20px;

    }

    .user-lastname,
    .user-lastname-api {
        color: rgb(255, 255, 255);
      
        width: 250px;
    }

    //Email
    .user-email {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .user-email-api {
        font-size: 1.3rem;
        margin-left: 20px;

    }

    .user-email,
    .user-email-api {
        color: rgb(255, 255, 255);
        
        width: 250px;
    }

    //Username
    .user-username {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .user-username-api {
        font-size: 1.3rem;
        margin-left: 20px;

    }

    .user-username,
    .user-username-api {
        color: rgb(255, 255, 255);
      
        width: 250px;
    }
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px; 
    color: rgb(255, 255, 255);
    background-color: pink;
    text-align: center;
    cursor: pointer;
    width: 150px; 
    font-size: 1.3em; 
    border-radius: 15px;
    margin-left: 350px;
}

button:hover {
    opacity: 0.7;
}
