.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vh;
    background-color: black;
    color: pink;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

footer{
    position: fixed;
    bottom: 0;
    height: 5vh;
    background-color: pink;
    width: 100vw;
    display: flex;
    align-items: center;
}